@import './variables';

.rbc-gantt-view {
  overflow: hidden;

  .rbc-time-header-cell {
    z-index: 100;
  }

  .rbc-row-bg .rbc-row-content {
    z-index: 200;
  }

  .rbc-time-content {
    z-index: 300;
  }

  .rbc-row-bg {
    border: none;
    background-color: #e0e3ea;

    .rbc-day-bg {
      background-color: #fcfcfc;
      border-left: 1px solid #e0e3ea;
      border-bottom: 1px solid #e0e3ea;

      &.rbc-today {
        background-color: #fcfcfc;
      }

      &.rbc-weekend {
        background-color: #f5f7f9;
      }
    }
  }

  .rbc-header {
    overflow: visible;
    text-align: center;
    border-bottom: 1px solid #e0e3ea;
    padding: 0;

    a {
      display: inline-block;

      span {
        height: 18px;
        border: 1px solid transparent;
        display: block;
        line-height: 15px;
        padding: 1px 1px;
        font-size: 10px;
        font-weight: 600;
      }
    }

    &.rbc-weekend {
      a {
        span {
          border: 1px solid #f5f7f9;
          border-radius: 4px;
          color: #8f949d;
          background-color: #f5f7f9;
        }
      }
    }

    &.rbc-today {
      background-color: transparent;

      a {
        span {
          border: 1px solid #5b4bfa;
          border-radius: 4px;
          color: white;
          background-color: #5b4bfa;
        }
      }

      .rbc-day-indicator {
        background-color: $today-highlight-bg;
        position: absolute;
        width: 3px;
        height: 1000vh;
        background-color: #5b4bfa;
        top: 38px;
        left: 50%;
      }
    }
  }

  .rbc-row-category {
    position: absolute;
    top: 0;
    left: 0;
    width: $gantt-category-width;
    height: 100%;
    box-sizing: border-box;
    padding: 15px 0 0 45px;
    font-size: 14px;
    font-weight: normal;
    border-bottom: 1px solid #e0e3ea;
  }

  .rbc-header-category {
    flex: 0 1 $gantt-category-width;
  }

  .rbc-allday-cell {
    .rbc-row-bg {
      width: calc(100% - $gantt-category-width);
      margin-left: $gantt-category-width;
    }

    .rbc-row-content {
      width: calc(100% - $gantt-category-width);
      margin-left: $gantt-category-width;
    }
  }

  .rbc-time-view .rbc-allday-cell + .rbc-allday-cell {
    border-left: 0;
  }

  .rbc-time-header-content {
    border-left: none;
  }

  .rbc-time-header {
      border-bottom: none;
  }
}

@media screen and (min-width: 1200px) {
  .rbc-gantt-view .rbc-header a span {
    padding: 1px 10px;
  }
}
